{% extends 'layeout_portfolio.html' %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
  </head>
  <body>
    {% block content %}

    <h1>Proyectos</h1>

    <div class="row my-4 text-center">
      {% for project in projects %}

      <div class="col-md-4 p-4">
        <div class="card bg-black card-project">
          <img
            src="{{ project.image.url }}"
            alt="{{ project.title }}"
            class="card-img-top"
          />

          <div class="card-body">
            <h2>{{ project.title }}</h2>
            <p>{{ project.description }}</p>

            {% if project.url %}
            <a
              href="{{ project.url }}"
              class="btn btn-light rounded-0 btn-sm"
              target="_blank"
              >{{ project.url }}</a
            >
            {% endif %}
          </div>
        </div>
      </div>

      {% endfor %} {% endblock %}
    </div>
  </body>
</html>
